@model IEnumerable<DotNetAppSqlDb.Models.itemNeedRequests>
@{ Layout = "~/Views/Shared/_Layout.cshtml "; }
@{ ViewBag.Title = "Index"; }
<body>
    </br>
    <div class="card-deck">
        <div class="card text-center">
            <div class="card-body">
                <h3 class="card-text">Review one of your needed items below or create a new needed item</h3>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-body">
                <p class="card-text">Need to add a new item?</p>
                <btn>
                    @Html.ActionLink("Create New", "Create",
               @Session["userID"], new {@class="btn btn-danger"})
            </btn>
        </div>
    </div>
    </br>
</div>

<br />




<table class="table table-hover table-light">
    <thead>
        <tr>
            <th>Category</th>
            <th>Minimum Price</th>
            <th>Maximum Price</th>
            <th></th>
        </tr>
    </thead>
    </tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.minPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maxPrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.requestId }) |
                @Html.ActionLink("Details", "Details", new { id = item.requestId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.requestId })
            </td>
        </tr>
        <tr></tr>
    }
    </tbody>
</table>

<btn>@Html.ActionLink("Back to Main Menu", "../UserHome/BacktoMenu", @Session["userID"])</btn>
</body>