@model IEnumerable<DotNetAppSqlDb.Models.itemsForSale>
@{	Layout = "~/Views/Shared/_Layout.cshtml ";	}
@{	ViewBag.Title = "Index";	}
<body>
	</br>
	<div class="card-deck">	
			<div class="card text-center">
				<div class="card-body">
					<h3 class="card-text">Choose an item below to sell, or create a new item.</h3>
				</div>
			</div>
			<div class="card text-center">
				<div class="card-body">
					<p class="card-text">Need to add a new item?</p>
					<btn>@Html.ActionLink("Create New", "Create", 
						@Session["userID"], new {@class="btn btn-danger"})</btn>
				</div>
			</div>
			</br>
	</div>

    <br />


	<table class="table table-hover table-light">
		<thead>
			<tr>
				<th>Item Name</th>
				<th>Price</th>
				<th>Description</th>
				<th>Image</th>
				<th>Category</th>
				<th></th>
			</tr>
		</thead>
		</tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.category)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.itemID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.itemID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.itemID })
                </td>
            </tr>
            <tr>

            </tr>
			}
		</tbody>
   </table>





    <btn>@Html.ActionLink("Back to Main Menu", "../UserHome/BacktoMenu", @Session["userID"])</btn>
</body>