@model DotNetAppSqlDb.Models.User
@{	Layout = "~/Views/Shared/_Layout.cshtml ";	}
@{	ViewBag.Title = "Login";	}
<body>
	</br>
    @using (Html.BeginForm("UserProfile", "UserHome", FormMethod.Post,
				new {@class="form-group"}))
    {
    <table cellpadding="2" cellspacing="2">
        <tr>
            <td>@Html.TextBoxFor(Model => Model.userName, new {@class="form-control", @placeholder="Username"})</td>
            <td>@Html.ValidationMessageFor(Model => Model.userName)</td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(Model => Model.password, new {@class="form-control", @placeholder="Password"})</td>
            <td>@Html.ValidationMessageFor(Model => Model.password)</td>
        </tr>
        <tr>          
			<td><button type="submit" class="btn btn-danger">Login</button>
        </tr>
    </table>
    }
    <div>
        <btn>@Html.ActionLink("Click Here to Register", "../Users/Create", @Session["userID"], 
			new {@class="btn btn-danger"})</btn>
    </div>

</body>