@model DotNetAppSqlDb.Models.User
@{	Layout = "~/Views/Shared/_Layout.cshtml ";	}
@{	ViewBag.Title = "Profile";	}
<body>
	</br>
	<div class="alert alert-danger" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">x</span>
		</button>
		<strong>Welcome  @Session["username"]!</strong>
	</div>
        <br />
	<div class="card-deck">
		
			<div class="card text-center">
				<div class="card-header">
					Items to Sell
				</div>
				<div class="card-body">
					<h4 class="card-title">Some Title...</h4>
					<p class="card-text">Go to an overview of your items you want to sell</p>
					<btn>@Html.ActionLink("Go to Items to Sell", "../itemsForSales/Index",
						@Session["userID"], new {@class="btn btn-danger"})</btn>
				</div>
			</div>
	
			<div class="card text-center">
				<div class="card-header">
					Items to Buy
				</div>
				<div class="card-body">
					<h4 class="card-title">Some Title...</h4>
					<p class="card-text">Look for items that you can buy</p>
					<btn class="btn btn-danger">@Html.ActionLink("Go to Items to Buy", "../itemNeedRequests/Index", 
						@Session["userID"], new {@class="btn btn-danger"})</btn>
				</div>
			</div>

			<div class="card text-center">
				<div class="card-header">
					Your Location
				</div>
				<div class="card-body">
					<h4 class="card-title">Some Title...</h4>
					<p class="card-text">Go here to update your address</p>
					<btn class="btn btn-danger">@Html.ActionLink("Go to My Address", "../addresses/Index", 
						@Session["userID"], new {@class="btn btn-danger"})</btn>
				</div>
			</div>
			<div class="card text-center">
				<div class="card-header">
					Your Matches
				</div>
			<div class="card-body">
				<h4 class="card-title">Some Title...</h4>
				<p class="card-text">Check here to review your matches</p>
				<btn class="btn btn-danger">@Html.ActionLink("Go to Matches", "../MatchBuyertoSellers_Result/Index", 
					@Session["userID"], new {@class="btn btn-danger"})</btn>
			</div>
			</br>
	</div>
	</br>
</body>