@model DotNetAppSqlDb.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserHome</title>
</head>
<body>
    <div>
        Welcome  @Session["username"]
        <br />
        Main Menu:
        <br />

        <br />
        <btn>@Html.ActionLink("Items to Sell:", "../itemsForSales/Index", @Session["userID"])</btn>
        <br />
        <btn>@Html.ActionLink("Items I want to buy:", "../itemNeedRequests/Index", @Session["userID"])</btn>
        <br />
        <btn>@Html.ActionLink("My Address:", "../addresses/Index", @Session["userID"])</btn>
        <br />
        <btn>@Html.ActionLink("Matches:", "../Matches/Index", @Session["userID"])</btn>
    </div>
</body>
</html>
